{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>
Clash Result Page
</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   <link href="https://fonts.googleapis.com/css?family=Amiri&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <style>
            th,td{
                text-align: center;
                
            }
            tr{
                border-style:solid;
                border-color:rgba(215, 233, 248, 0.979);
            }
            #l{
                background-image: url("{% static 'images/bg2.jpeg' %}");
       
                background-size: cover;
                color:#daffef;
                font-family: 'Montserrat', sans-serif;


    }
    .topcol{
        background-color: black;
    
    }
        </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row" id="l">
            <div class="col-lg-5 topcol" style="height: 7vh;display: flex; justify-content: center;align-items: center;">
                <div class="col-lg-3 topcol" style=" height: 6vh; display:flex;align-items: center;justify-content: center;"><img src="{% static 'images/clash.jpg' %}"style="height:5vh;width:6vw;"></div>
                <div class="col-lg-9 topcol" style=" height: 6vh; display:flex;align-items: center; justify-content: center;"><h5>RESULT</h5></div>
            </div>
            <div class="col-lg-2 topcol" style=" height: 7vh; display: flex; justify-content: center;align-items: center;color: #d7e9f8">
                
            </div>
            <div class="col-lg-5 topcol" style=" height: 7vh;">
                <div class="row">
                 <div class="col-lg-9 topcol"></div>
                    <div class="col-lg-3 mt-1 topcol" style=" height: 6vh; display: flex; justify-content: center;align-items: center;">
                        <img src="{% static 'images/ieee.jpeg' %}" style="height: 5vh;">
                    </div>
                </div>
            </div>
        
        <div class="col-lg-12"style="border: 1px solid black; height:86vh;"  >
            <div class="row mt-4" style="justify-content: center;">
                <div class="col-lg-4" style="border: none;background-color:rgba(0,0,0,.5);height: 9vh; box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2);border-radius:10px;display: flex;justify-content: center;align-items: center; ">
                    <h2>TEAM NAME</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 mt-5" ></div>
                <div class="col-lg-2 mt-5"style="border:none;background-color:rgba(0,0,0,.3);height:20vh; box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1);border-radius:10px">
                    <h2 class="row mt-2" style="display:flex; justify-content:center;">RANK</h2>
                    <h1 class="row mt-4" style="display: flex;justify-content: center;" >1</h1>
                </div>
                <div class="col-lg-2 mt-5" ></div>
                <div class="col-lg-2 mt-5" style="border:none;background-color:rgba(0,0,0,.3);height:20vh; box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1);border-radius:10px" >
                        <h2 class="row mt-2" style="display:flex; justify-content:center">SCORE</h2>
                        <h1 class="row mt-4" style="display: flex;justify-content: center;" >400</h1>
                </div>
               <div class="col-lg-3 mt-5" ></div> 
    
            <table align="center"class="table" style="width:50%; margin-top: 80px;border-style:solid; color:rgba(215, 233, 248, 0.979);background-color:rgba(0,0,0,.5);" >
                <thead>
                    <tr>
                        <th>RANK</th>
                        <th>TEAM NAME</th>
                        <th>SCORE</th>

                    </tr>
                </thead>
                    <tr>
                        <td>1</td>
                        <td>abc</td>
                        <td>400</td>
                    </tr>
                    <tr>
                            <td>2</td>
                            <td>xyz</td>
                            <td>300</td>
                        </tr>
                        <tr>
                                <td>3</td>
                                <td>pqr</td>
                                <td>200</td>
                            </tr>
                
            </table>
                                  
            </div>
      </div>
        <div class="col-lg-12 topcol"style="border:1px solid black; height:7vh;display:flex; justify-content: center;align-items: center;">&copy PICT IEEE STUDENT BRANCH </div>
        </div>
    </div>
</body>
</html>
