{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Login Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel = "stylesheet" type = "text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   <!--  <link href="https://fonts.googleapis.com/css?family=Biryani&display=swap" rel="stylesheet">-->
   <link rel = "stylesheet" type = "text/css" href="{% static 'css/login.css' %}" />
    <style>
        body{
            background-image: url("{% static 'images/1111111.jpg' %}");
            background-repeat: no-repeat;
            background-size: 100%;
            font-family: 'Biryani', sans-serif;
            color: #d7e9f8;
            overflow: hidden;
        }
    </style>
    </head>
    <body>
     <form method="post">
            {% csrf_token %}
            <div class="container-fluid">
                <div class="row" style="background-color: #000">
                    <div class="col-lg-5" style="height: 7vh;display: flex; justify-content: center;align-items: center;">
                        <div class="col-lg-3" style=" height: 7vh;">
                            <img src="{% static 'images/clash.jpg' %}" style="width: 5vw; height:7vh; display:flex;align-items: center;justify-content: center;color: white">
                        </div>
                        <div class="col-lg-9" style="padding-top: 2vh;height: 6vh; display: flex; align-items: center; justify-content: center; color: white"><h5>LOGIN PAGE</h5></div>
                    </div>
                    <div class="col-lg-2" style=" height: 7vh; display: flex; justify-content: center;align-items: center;color: white"></div>
                    <div class="col-lg-5" style=" height: 7vh;">
                        <div class="row">
                            <div class="col-lg-3 mt-1" style=" height: 6vh; display: flex; justify-content: center;align-items: center;"></div>
                            <div class="col-lg-3 mt-1" style=" height: 6vh; display: flex; justify-content: center;align-items: center;"></div>
                            <!-- The Modal -->
                            <div class="modal fade" id="logout">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                    
                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                            <h4 class="modal-title" style="color: black;">Are you sure you want to logout?</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                    
                                            <!-- Modal body -->
                                            <div class="modal-body">
                                            <p style="color: black;">Logging out will cause termination of your game and your score till this moment will be counted as your Final Score.
                                            </div>
                                    
                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" onclick="location.href='{% url 'logout' %}'" data-dismiss="modal">Log Out</button>
                                            </div>
                                    
                                        </div>
                                    </div>
                                </div>
                            <div class="col-lg-3 mt-1" style="display: flex; justify-content: center; align-items: center;"></div>
                            <div class="col-lg-3 mt-1" style=" height: 6vh; display: flex; justify-content: center;align-items: center;">
                                <img src="{% static 'images/IEEE_logo.png' %}" style="height: 5vh;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" style="height: 86vh;">
                        <!--Your Code Here-->
                        <div class= "row bod">
                                <div class="col-lg-3 player"style="left:-5vw;">
                                    <div class="row name"><center><p>PLAYER 1</p></center></div>
                                    <div class="block">
                                            <div class="inputBox"style="justify-content:center;text-align:center;margin-left:4vw;margin-right:4vw;height:95px;">
                                                    <input type="text" name="name1" required autocomplete="off" >
                                                    <label class="active">Enter Name</label> 
                                                </div>
                                        
                                    
                                   
                                    <div class="inputBox"style="justify-content:center;text-align:center;margin-left:4vw;margin-right:4vw;height:95px;">
                                            <input type="tel" name="phone1"  pattern="[7-9]{1}[0-9]{9}"maxlength="10" required autocomplete="off" >
                                            <label class="active">Contact No.</label> 
                                        </div>
                                    
                                    
                                        <div class="inputBox"style="justify-content:center;text-align:center;margin-left:4vw;margin-right:4vw;height:95px;">
                                                <input type="email" name="email1" required autocomplete="off" >
                                                <label class="active">Email ID.</label> 
                                            </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 team">
                                        
                                        <div class ="block "style=" height:32vh; border-radius: 8px; border:1px solid black; background-color: rgba(0, 0, 0, 0.349);">
                                                <div class="row name"><center><p>TEAM NAME</p></center></div>
                                                <div class="inputBox"style="justify-content:center;text-align:center;margin-left:4vw;margin-right:4vw;height:95px">
                                                        <input type="text" name="username" required autocomplete="off" >
                                                        <label>Team Name</label> 
                                                    </div>
                                                    <div class="inputBox"style="justify-content:center;text-align:center;margin-left:4vw;margin-right:4vw;height:95px">
                                                            <input type="password" name="password" required autocomplete="off" >
                                                            <label>Password</label> 
                                                        </div>
                                        </div>
                                        <div class= "block2">
                                                <div class="row" style="justify-content:center;text-align:center;height:40px;margin-top: 4vh;">
                                                        <div class="radio">
                                                            <input type="radio" name="junior" checked>
                                                        </div>
                                                        <div class="Rad"style="margin-right:1vw">
                                                            <label><b>Junior</b></label>
                                                        </div>
                                                    
                                                        <div class="radio">
                                                            <input type="radio" name="junior">
                                                        </div>
                                                        <div class="Rad">
                                                            <label><b>Senior</b></label>
                                                        </div>
                                                   
                                                    </div>
                                                    <div style="text-align: center; padding-top: 2vh;margin-top:20px ">
                                                        <button type="submit" style="padding-top: 0.8vh; background-color:rgba(52, 162, 196,0.9);color:rgb(0, 0, 24);border:none;width:8vw;height: 5vh;font-size: 17px;border-radius: 5px; ">LOGIN</button>
                                                    </div>
                                        </div>
                                        
    
                                </div>
                                
                                <div class="col-lg-3 player" style="left:5vw;">
                                        <div class="row name"><center><p>PLAYER 2</p></center></div>
                                        <div class="block">
                                                <div class="inputBox"style="justify-content:center;text-align:center;margin-left:4vw;margin-right:4vw;height:95px">
                                                        <input type="text" name="name2" >
                                                        <label class="active">Enter Name</label> 
                                                    </div>
                                            
                                        
                                       
                                        <div class="inputBox"style="justify-content:center;text-align:center;margin-left:4vw;margin-right:4vw;height:95px">
                                                <input type="tel" name="phone2" >
                                                <label class="active">Contact No.</label> 
                                            </div>
                                        
                                        
                                            <div class="inputBox"style="justify-content:center;text-align:center;margin-left:4vw;margin-right:4vw;height:95px">
                                                    <input type="email" name="email2" >
                                                    <label class="active">Email ID.</label> 
                                                </div>
                                        </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row" style="background-color: #000">
                    <div class="col-lg-12" style="font-size: 15px; border: 2px solid black; height:7vh; display: flex; justify-content: center; align-items: center; color: white">
                        &copy PICT IEEE STUDENT BRANCH
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>