<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="TestAniket.css">
</head>
<body>
        <!--  Header Bar-->
        <div class="container-fluid">
                <div class="row" style="background-color:black">
                        <div class="col-lg-5" style="height: 7vh;display: flex; justify-content: center;align-items: center;">
                            <div class="col-lg-3" style=" height: 6vh; display:flex;align-items: center;justify-content: center;color: #d7e9f8"><img src="clash.jpg" style="height: 5vh;"></div>
                            <div class="col-lg-9" style=" height: 6vh; display:flex;align-items: center; justify-content: center;color: #d7e9f8"><h5>TESTCASES</h5></div>
                        </div>
                        <div class="col-lg-2" style=" height: 7vh; display: flex; justify-content: center;align-items: center;color: #d7e9f8">
                            Timer
                        </div>
                        <div class="col-lg-5" style=" height: 7vh;">
                            <div class="row">
                                <div class="col-lg-3 mt-1" style=" height: 6vh; display: flex; justify-content: center;align-items: center;">
                                    <button class="btn btn-primary" style="font-size: 14px;">Question Hub</button>
                                </div>
                                <div class="col-lg-3 mt-1" style=" height: 6vh; display: flex; justify-content: center;align-items: center;">
                                    <button class="btn btn-primary" style="font-size: 14px;">Leader Board</button>
                                </div>
                                <div class="col-lg-3 mt-1" style="display: flex; justify-content: center;align-items: center;">
                                    <button class="btn btn-danger">Log Out</button>
                                </div>
                                <div class="col-lg-3 mt-1" style=" height: 6vh; display: flex; justify-content: center;align-items: center;">
                                    <img src="IEEE_logo.png" style="height: 5vh;">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                  <!--d7e9f8!-->
        <div class="row">

        
         <div class="col-lg-8" style="height:86vh;">
            <div class="row">   
                <div class="col-lg-4" style="height:15vh;width:100%;border: 3px solid  #d7e9f8; justify-content:center;display:flex;margin:2vw 1vw 1vw 5vw;
                font-size: 17px; color:#d7e9f8;align-items: center;font-weight: bold;border-radius: 10px">CASE 1<div class="spinner-border m-5" role="status">
                    <span class="sr-only">Loading...</span>
                  </div></div>
                <div class="col-lg-4" style="height:15vh;width:100%;border: 3px solid  #d7e9f8; justify-content:center;display:flex; margin:2vw 1vw 1vw 5vw; color:#d7e9f8;align-items: center;font-weight: bold;border-radius: 10px;">CASE 2<div class="spinner-border m-5" role="status">
                    <span class="sr-only">Loading...</span>
                  </div></div>
                
                </div>   
                
                <div class="row">   
                        <div class="col-lg-4" style="height:15vh;width:100%;border: 3px solid  #d7e9f8; justify-content:center;display:flex;margin:2vw 1vw 1vw 5vw;
                        color:#d7e9f8;align-items: center;font-weight: bold;border-radius: 10px;">CASE 3<div class="spinner-border m-5" role="status">
                            <span class="sr-only">Loading...</span>
                          </div></div>
                        <div class="col-lg-4" style="height:15vh;width:100%;border: 3px solid  #d7e9f8; justify-content:center;display:flex; margin:2vw 1vw 1vw 5vw;
                        color:#d7e9f8;align-items: center;font-weight: bold;border-radius: 10px;">CASE 4<div class="spinner-border m-5" role="status">
                            <span class="sr-only">Loading...</span>
                          </div></div>
                        
                        </div>     




                        <div class="row">   
                                <div class="col-lg-4" style="height:15vh;width:100%;border: 3px solid  #d7e9f8; justify-content:center;display:flex;margin:2vw 1vw 1vw 5vw;align-items: center;
                                color:#d7e9f8;font-weight: bold;border-radius: 10px;">CASE 5<div class="spinner-border m-5" role="status">
                                    <span class="sr-only">Loading...</span>
                                  </div></div>
                                <div class="col-lg-4" style="height:15vh;width:100%;border: 3px solid  #d7e9f8; justify-content:center;display:flex; margin:2vw 1vw 1vw 5vw; color:#d7e9f8;align-items: center;font-weight: bold;border-radius: 10px;">CASE 6<div class="spinner-border m-5" role="status">
                                    <span class="sr-only">Loading...</span>
                                  </div></div>
                                
                                </div>     

                                <div class="row">   
                                        <div class="col-lg-3" style="justify-content: center;display: flex">
                                            <div class="col-lg-6" style="background-color:skyblue;border: 3px solid #d7e9f8;margin:2vw 1vw;height:13vh;width:10vh;border-radius:50%;justify-content:center;display:flex;color:#d7e9f8;align-items: center;font-weight: bold">STATUS</div>
                                        </div>
        
                                        <!--div class="col-lg-3" style="justify-content: center;display: flex">
                                                <div class="col-lg-4" style="background-color:rgb(216, 196, 152);border: 1px solid rgba(1, 22, 1, 0.952);margin:0vw 1vw;height:15vh;width:15vh;border-radius:50%;justify-content:center;display:flex">Score</div>
                                            </div!-->
                                        
                                       
                                            <div class="col-lg-5" style="justify-content: center;display: flex">
                                                    <div class="col-lg-6" style="justify-content:center;display:flex;height:15vh;width:100vh;margin:2vw">
                                                            <button class="btn btn-primary" style=" height:9vh;width:8vw; border: #d7e9f8; background-color:salmon ">RETRY</button>
                                                    </div>
                                                </div>

                                                <div class="col-lg-3" style="justify-content: center;display: flex">
                                                    <div class="col-lg-6" style="background-color:skyblue;border: 3px solid #d7e9f8;margin:2vw 1vw;height:13vh;width:10vh;border-radius:50%;justify-content:center;display:flex;color:#d7e9f8;align-items: center;font-weight: bold">SCORE</div>
                                                </div>

                                        
                                        </div>     



            </div>           

           
         <div class="col-lg-4" style="border: 5px solid rgba(243, 248, 243, 0.952); height:80vh;margin-top:3vh;border-radius: 10px;">
                <strong style="text-align: center;margin-top: 15px;margin-bottom: 15px;justify-content: center;display: flex; color:#d7e9f8">CONSOLE</strong> 
                
             <div class="row">
                 
                 <div class="row" style="height:40vh;width:60vw;margin:2vw 2vw; border:5px rgb(14, 247, 53)"></div>
                             
                </div>

            <!--div class="row" style="margin:2vw 2vw;justify-content: center;border:1px black;height:4vh">
                <button class="btn btn-primary">Retry</button>
            </div!-->



            </div>
     </div>
     <div class="row" style="background-color: black">
            <div class="col-lg-12" style="border: 2px solid black;height:7vh;display: flex;justify-content: center;align-items: center;color: #d7e9f8">
                &copy PICT IEEE STUDENT BRANCH
            </div>
        </div>
    </div>
    </body>
    </html>