<!DOCTYPE html>
<html>
<head>
<title>
Clash Result Page
</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Biryani&display=swap" rel="stylesheet">
    <style>
            th,td{
                text-align: center;
                
            }
            tr{
                border-style:solid;
                border-color:rgba(215, 233, 248, 0.979);
            }
            #l{
                background-image: url("1111111.jpg");
       
                background-size: cover;
                color:#d7e9f8;
                font-family: 'Biryani', sans-serif;


    }
    .topcol{
        background-color: black;
    
    }
      
     
            
        </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row" id="l">
            <div class="col-lg-12 header" style="color: white;height: 7vh;background-color: rgb(0, 0, 0)">
                    
                <div class="row">
                    <div class="col-lg-5" style="height: 7vh;display: flex; justify-content: center;align-items: center;">
                        <div class="col-lg-3" style=" height: 6vh; display:flex;align-items: center;margin-bottom: 2px;">
                            <img src="clash.jpeg" style="height: 44px;margin-top: 0px;">
                        </div>
                        <div class="col-lg-9 mt-3" style=" height: 6vh; display:flex;align-items: center; justify-content: center;">
                            <h5>RESULT</h5>
                        </div>
                    </div>
                    <div class="col-lg-2" style=" height: 7vh; display: flex; justify-content: center;align-items: center;">
                        
                    </div>
                    <div class="col-lg-5" style=" height: 7vh;">
                        <div class="row" style="display: flex;justify-content: center;align-items: center;">
                            <div class="col-lg-3 mt-1" style=" height: 6vh; display: flex; justify-content: center;align-items: center;">
                                
                            </div>
                            <div class="col-lg-3 mt-1" style=" height: 6vh; display: flex; justify-content: center;align-items: center;">
                            </div>
                            <div class="col-lg-3 mt-1">
                            </div>
                            <div class="col-lg-3 mt-1" style=" height: 6vh; display: flex; justify-content: center;align-items: center;">
                                <img src="ieee.jpeg" style="height: 5vh;margin-right: 4px;">
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        
        <div class="col-lg-12"style="border: 1px solid black; height:86vh;"  >
            <div class="row mt-4" style="justify-content: center;">
                <div class="col-lg-4" style="border: none;background-color:rgba(0,0,0,.5);height: 9vh; box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2);border-radius:10px;display: flex;justify-content: center;align-items: center; ">
                    <h2>TEAM NAME</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 mt-5" ></div>
                <div class="col-lg-2 mt-5"style="border:none;background-color:rgba(0,0,0,.3);height:20vh; box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1);border-radius:10px">
                    <h2 class="row mt-2" style="display:flex; justify-content:center;">RANK</h2>
                    <h1 class="row mt-4" style="display: flex;justify-content: center;" >1</h1>
                </div>
                <div class="col-lg-2 mt-5" ></div>
                <div class="col-lg-2 mt-5" style="border:none;background-color:rgba(0,0,0,.3);height:20vh; box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1);border-radius:10px" >
                        <h2 class="row mt-2" style="display:flex; justify-content:center">SCORE</h2>
                        <h1 class="row mt-4" style="display: flex;justify-content: center;" >400</h1>
                </div>
               <div class="col-lg-3 mt-5" ></div> 
    
            <table align="center"class="table" style="width:50%; margin-top: 50px;border-style:solid; color:rgba(215, 233, 248, 0.979);background-color:rgba(0,0,0,.5);" >
                <thead>
                    <tr>
                        <th>RANK</th>
                        <th>TEAM NAME</th>
                        <th>SCORE</th>

                    </tr>
                </thead>
                    <tr>
                        <td>1</td>
                        <td>abc</td>
                        <td>400</td>
                    </tr>
                    <tr>
                            <td>2</td>
                            <td>xyz</td>
                            <td>300</td>
                        </tr>
                        <tr>
                                <td>3</td>
                                <td>pqr</td>
                                <td>200</td>
                            </tr>
                
            </table>
                                  
            </div>
      </div>
        <div class="col-lg-12 topcol"style="border:1px solid black; height:7vh;display:flex; justify-content: center;align-items: center;color:white">&copy PICT IEEE STUDENT BRANCH </div>
        </div>
    </div>
</body>
</html>
