<!DOCTYPE html>
<html>
    <head>
        <title>CLASH LOGIN</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
        <link rel = "stylesheet" type = "text/css" href="clashlogin.css" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Biryani&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <form>
        <div class="container-fluid">
                
            <div class="row">
                <div class="col-lg-12 header" style="color: white">
                    
                        <div class="row" style="background-color: rgb(0, 0, 0)">
                            <div class="col-lg-5" style="height: 7vh;display: flex; justify-content: center;align-items: center;">
                                <div class="col-lg-3" style=" height: 6vh; display:flex;align-items: center;margin-bottom: 2px;">
                                    <img src="clash.jpg" style="height: 7vh;">
                                </div>
                                <div class="col-lg-9 mt-3" style=" height: 6vh; display:flex;align-items: center; justify-content: center;color: white">
                                    <h5>LOGIN</h5>
                                </div>
                            </div>
                            <div class="col-lg-2" style=" height: 7vh; display: flex; justify-content: center;align-items: center;">
                                
                            </div>
                            <div class="col-lg-5" style=" height: 7vh;">
                                <div class="row" style="display: flex;justify-content: center;align-items: center;">
                                    <div class="col-lg-3 mt-1" style=" height: 6vh; display: flex; justify-content: center;align-items: center;">
                                        
                                    </div>
                                    <div class="col-lg-3 mt-1" style=" height: 6vh; display: flex; justify-content: center;align-items: center;">
                                    </div>
                                    <div class="col-lg-3 mt-1">
                                    </div>
                                    <div class="col-lg-3 mt-1" style=" height: 6vh; display: flex; align-items: center;">
                                        <img src="ieee.jpeg" style="height: 5vh;margin-left: 4px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-lg-12 bod">
                    <div class="row b1r" >
                        <div class = "col-lg-3 b1c" style="left:-5vw;" >
                            <div class="row b2r" >
                                <div class="col-lg-12 player1 "><center><p>PLAYER 1</p></center></div>
                                <div class="col-lg-12 name1">
                                        <div class = "form-group nam1" >
                                                <label for = "name"> Name </label>
                                                <input type = "text"   placeholder="Your Name " id="team">
                                                </div>
                                </div>
                                <div class="col-lg-12 num1">
                                        <div class  = "form-group nam1">
                                                <label for = "contact">Contact Number</label>
                                                <input type = "text"   placeholder="Your Contact No. " id = "contactno">
                                                </div>
                                </div>
                                <div class="col-lg-12 email1">
                                        <div class = "form-group nam1">
                                                <label for = "email">Email-id</label>
                                                <input type = "email"   placeholder="Your Email" id = "email">
                                                </div>
                                </div>
                            </div>


                        </div>
                        <div class = "col-lg-3 team" >
                            <div class = "row t1r" style = "border: 1px solid black;">
                                <div class = "col-lg-12 t1c">
                                        <p>TEAM NAME</p>
                            
                            
                                </div>
                                <div class = "col-lg-12 name1" style = "top: -3vh;">
                                    
                                        <div class = "form-group nam1">
                                                <label for = "name" >Team Name</label>
                                                <input type = "text"   placeholder="Your Team Name" id = "team_name" >
                                            </div>
                                </div>
                                <div class = "col-lg-12 tpassword" style = "top:-3vh">
                                        <div class = "form-group nam1">
                                                <label for = "password" >Password</label>
                                                <input type = "password"    placeholder="Password" id = "pass" >
                                            </div>   
                                </div>
                                <div class = "col-lg-12 t2c" >
                                    <div class = "row t2r">
                                        <div class = "col-lg-12" style = "padding-right:2vw; display:flex; justify-content:center; align-items:center;">
                                            <div class = "row radio">
                                                <div class = "col-lg-6 radio_row" style = "padding-left: 4vw;">
                                                    <label class = "radio-inline radi1"><input type = "radio" name = "optradio" checked ><b>Junior</b></label>
                                                 </div>
                                                 <div class = "col-lg-6 radio_row" style = "padding-right: 6vw;">
                                                        <label class = "radio-inline radi1"><input type = "radio" name = "optradio" checked ><b>Senior</b></label>
                                                 </div>

                                            </div>
                                        </div>
                                         
                                               
                                              
                                        <div class = "col-lg-12 button" >
                                                <button type="button"class="btn btn-dark" style = " background-color: rgb(20, 173, 20) ;color:white; border:none;height:7vh;font-size:13px;width: 8vw;border-radius:5px;display: flex;align-items: center;justify-content: center;padding-top: 11px"> LOGIN</button>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class = "col-lg-3 player2box" style = "left:5vw;" >
                                <div class="row p2r" >
                                        <div class="col-lg-12 player1"><center><p>PLAYER 2</p></center></div>
                                        <div class="col-lg-12 name1">
                                                <div class = "form-group nam1">
                                                        <label for = "name"> Name </label>
                                                        <input type = "text"   placeholder="Your Name" id="team">
                                                        </div>
                                        </div>
                                        <div class="col-lg-12 num1">
                                                <div class  = "form-group nam1">
                                                        <label for = "contact"> Contact No.</label>
                                                        <input type = "text"   placeholder="Your Contact No. " id = "contactno">
                                                        </div>
                                        </div>
                                        <div class="col-lg-12 email1">
                                                <div class = "form-group nam1">
                                                        <label for = "email"> Email-id</label>
                                                        <input type = "email"   placeholder="Your Email" id = "email">
                                                        </div>
                                        </div>
                                    </div>
           
                                    </div>
                        </div>

                    </div>
                </div>
                
            </div>
            <div class="col-lg-12 footer" style="color: white;">© PICT IEEE STUDENT BRANCH</div>
        </div>

        </form>

    </body>



















</html>