body
{
    background-image: url('1111111.jpg');
    background-size:cover;
    overflow-x: hidden;
    font-family: 'Biryani', sans-serif;
    color:#d7e8f9;
    font-size: 10x;
    overflow-y: hidden;
}
thead, tbody { display:table-header-group }
.my-custom-scrollbar {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 80vw;
    margin-left: 0vw;
    position: relative;
    height: 75vh;   
    overflow-y:scroll;
    scrollbar-width:none;
    background-color: rgba(0, 0, 0, 0.356);
    }
    .table-wrapper-scroll-y {
    display: block;
    }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:black;
  color:white   ;
  text-align: center;
  border: 1px solid black;
  height: 7vh;
}
.ns5{
margin-top: 05vh;
background-color: rgba(0, 0, 0, 0.356);
position: relative;
color:#d7e8f9;
font-family: 'Biryani', sans-serif;
text-emphasis: center;
}

.c2-rank
{
    font-family: 'Biryani', sans-serif;
    color:#bbc7ce;
    width: 8%;
    text-align:center;
}
.c2-name
{
    font-family: 'Biryani', sans-serif;
    color:#bbc7ce;
    width: 22%;
    text-align: center;
}
.c2
{
    font-family: 'Biryani', sans-serif;
    color:#bbc7ce;
    width: 9%;
    text-align: center;
}
.c2-result
{
    font-family: 'Biryani', sans-serif;
    color:#bbc7ce;
    width: 16%;
    text-align: center;
}
.h-rank
{
    color:#bbc7ce;
    font-family: 'Biryani', sans-serif;
    text-align:center;

}
.h-name
{
    font-family: 'Biryani', sans-serif;
    color:#bbc7ce;
    text-align: center;
}
.h
{
    font-family: 'Biryani', sans-serif;
    color:#bbc7ce;
    text-align: center;
}
.h-total
{
    font-family: 'Biryani', sans-serif;
    color:#bbc7ce;
    text-align: center;
}
.w-r
{
    width: 8%;
}
.w-n
{
    width: 22%;
}
.w
{
    width: 9%;
}
.w-t
{
    width: 16%;
}